@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Patua+One&display=swap");

/*começo estrutura de configuraçao*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}


/*Classes responsivas, tentem adicionar tudo seguindo estas formatações.*/


/*e vão testando o que funciona e o que não funciona*/

body {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

:root {
    --font-xl: clamp(3rem, 2vw + 0.2rem, 8rem);
    --font-md: clamp(1rem, 1.5vw + 0.1rem, 2rem);
}


/*nav bar*/

.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
    color: rgb(250, 130, 1);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(250, 130, 1);
}

ul {
    list-style: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(16, 221, 253);
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: rgb(16, 221, 253);
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(247, 130, 4);
}


/*fim da nav bar*/


/*Conteúdo do Site*/

.container {
    width: 1200xp;
}

.container h1 {
    color: rgb(21, 19, 19);
    margin-top: 20px;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 4rem 15rem 0rem 10rem;
    font-weight: 300px;
    font-size: var(--font-xl);
    line-height: 0.8;
    font-weight: bold;
}

.container h1 img {
    position: relative;
    width: 100%;
    text-align: center;
}

.container p {
    text-align: justify;
    margin: 1rem 10rem;
    margin-top: 2px;
    font-size: var(--font-md);
    text-indent: 50pt;
}

.container h2 {
    margin-top: 20px;
    text-align: justify;
    margin: 1rem 10rem;
    font-size: var(--font-md);
}

.container h2 img {
    position: relative;
    width: 100%;
}

.container p img {
    position: relative;
    width: 100%;
}

h3 {
    margin-top: 20px;
    text-align: justify;
}


/*Fim do conteúdo do site*/


/*rodape*/


/*rodape*/

footer {
    width: 100%;
    min-height: 250px;
    background: rgb(16, 221, 253);
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
    margin-left: 25px;
}

h2 {
    color: white;
    text-align: justify;
}

p {
    color: rgb(0, 0, 0);
}

h3 {
    margin-top: 20px;
    text-align: justify;
}

span {
    color: #000;
}


/*fim rodape*/


/*reponsividade rodape*/

@media(max-width: 950px) {
    footer {
        flex-direction: column;
    }
    footer .boxs {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
     :root {
        --font-xl: clamp(2rem, 2vw + 0.2rem, 8rem);
        --font-md: clamp(1.3rem, 1.5vw + 0.9rem, 1rem);
    }
    .container {
        width: 1200xp;
    }
    .container h1 {
        color: rgb(21, 19, 19);
        margin-top: 20px;
        font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin: 4rem 15rem 4rem 10rem;
        font-weight: 300px;
        font-size: 30px;
        line-height: 0.8;
        font-weight: bold;
    }
    .container h1 img {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .container p {
        text-align: justify;
        margin: 1rem 10rem;
        font-size: var(--font-md);
        font-size: 23px;
    }
    .container h2 {
        margin-top: 20px;
        text-align: justify;
        margin: 1rem 10rem;
        font-size: var(--font-md);
    }
    .container h2 img {
        position: relative;
        width: 100%;
    }
    .container p img {
        position: relative;
        width: 100%;
    }
}


/*fim do rodape*/


/*fim da nav bar*/


/*fim do rodape*/


/*estrutura de configuração fim */


/*fim da nav bar*/